.Navbar {
    width: 100%;
    padding: 2% 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #f2f2f2;
}

.navbar-list {
    display: flex;
}

.navbar-item{
    margin-left: 40px;
}
.navbar-item-link {
    text-transform: uppercase;
    color: #f2f2f2;
    text-decoration: none;
}